<p>Hi <%= @agent.first_name %>,</p>

<p>You ahve a new message from PF.</p>

<p>First Name: <%= @first_name %></p>
<p>Last Name: <%= @last_name %></p>
<p>Email: <%= @email %></p>

<%= simple_format @message %>
